@{
    ViewData["Title"] = "CategoriesList";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<a class="btn btn-outline-primary" href="/Admin/NewCategory">Додати категорію</a>
<table class="styled-table">
    <thead>
        <tr></tr>
        <tr></tr>
        <tr>
            <th>Назва</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in ViewBag.Category)
        {

        <tr>

            <td>@category.Name</td>
            <td>
                <form method="GET" asp-action="EditCategory" asp-controller="Admin">
                    <input type="hidden" name="Id" value="@category.Id" class="form-control" />
                    <button class="btn btn-warning ">Змінити категорію</button>
                </form>
            </td>
            <td>
                <form asp-action="DeleteCategory" asp-controller="Admin">
                    <input type="hidden" name="Id" value="@category.Id" class="form-control" />
                    <button class="btn btn-danger">Видалити категорію</button>
                </form>
            </td>
        </tr>
        }

    </tbody>
</table>