@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/User.cshtml";
}
<div>
    <div class="text-center">
        <img src="/images/lasumka.png" alt="" />
    </div>
    <div>
        <h2 class="text-center pt-5">Дякуємо за замовлення!</h2>
        <p class="text-center">Очікуйте дзвінок, вам незабаром зателефонують</p>
        <div id="register-link" class="text-center">
            <a href="/User/Bags" class="text-info">Повернутись до товарів</a>
        </div>
    </div>

</div>
